<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="http://localhost:3000/public/assets/fontawesome-free-5.13.0-web/css/all.css">
    <link rel="stylesheet" href="http://localhost:3000/public/assets/bootstrap-4.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://localhost:3000/public/style.css">
    <link rel="shortcut icon" href="http://localhost:3000/public/img/express.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node JS CRUD</title>
</head>

<body>

    {% block content %}

    {% endblock %}


    <script src="http://localhost:3000/public/assets/jquery-3.5.1.slim.min.js"></script>
    <script src="http://localhost:3000/public/assets/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
</body>

</html>