body {
    background: url(img/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

table {
    opacity: .95;
}

h1 {
    color: white;
    text-shadow: 0 0 15px black;
}

.photo {
    width: 10px;
}

.container {
    background-color: rgba(151, 151, 151, .7);
    border-radius: 5px;
    padding-bottom: 10px !important;
}